<h4>Modification des informations de l'employé</h4>
<form>
    <label>Nom:</label>
    <input type="text" class="form-control" >
    <label>Photo:</label>
    <input type="text" class="form-control" >
    <label>Date de naissance:</label>
    <input type="date" class="form-control" >
    <label>Adresse:</label>
    <div>
        <label>Rue:</label>
        <input type="text" class="form-control" >
        <label>Ville:</label>
        <input type="text" class="form-control" >
        <label>Code postal:</label>
        <input type="number" class="form-control" >
    </div>
    <div>
        <label> Liste des diplômes </label>

    </div>
    <label> Département</label>

    <div>
        <label> Poste</label>
        <input type="radio" name="poste" value="Ingénieur" > Ingénieur
        <input type="radio" name="poste" value="Comptable" > Comptable
        <input type="radio" name="poste" value="Administratif" > Administratif
    </div>
    <div>
        <input type="button" value=" Confirmer" class="btn btn-dark">

    </div>
</form>

